<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jared Berry. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/Jared Profile Picture.jpg">
    </div>

    {{>footer}}
</body>

</html>